input[type=button] {
    padding: .5em;
    min-height: 3em;
    min-width: 4em;
    border-radius: 0.3em;
    background-color: #e7e5e7;
    color: black;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}

input[type=button]:hover:!disabled {
    background-color: #efedef;
}

input[type=button]:disabled,input[type=button][disabled] {
    opacity: 0.6;
    cursor: default;
}

.success {
    background-color: #99dd9a !important;
}

.failure {
    background-color: #ff6158 !important;
}

#kanji {
    font-size: 3em;
}

#kana, #kana2 {
    font-size: 1.3em;
}

#description {
    color: gray;
}

#vocabulary_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#vocabulary_list td {
    padding: .5em;
}

.right {
    position: absolute;
    right: 0.5em;
}

.icon {
    font-size: 1.5em !important;
    line-height: 1.25em !important;
    min-height: 2em !important;
    min-width: 2em !important;
}

.checked {
    background: #ff9 !important;
}

@media screen and (max-width: 800px) {
    input[type=button] {
        line-height: 3em;
        padding-left: .5em;
        padding-right: .5em;
    }
}
