input[type=button] {
    padding: .5em;
    min-height: 3em;
    min-width: 4em;
    border-radius: 0.3em;
    background-color: #e7e5e7;
    color: black;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}

input[type=button]:hover:!disabled {
    background-color: #efedef;
}

input[type=button]:disabled,input[type=button][disabled] {
    opacity: 0.6;
    cursor: default;
}

.success {
    background-color: #99dd9a !important;
}

.failure {
    background-color: #ff6158 !important;
}

#kanji {
    font-size: 3em;
}

#kana, #kana2 {
    font-size: 1.3em;
}

.translation {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

#description, .description {
    color: gray;
}

#vocabulary_list tr:nth-child(even) {
    background-color: #f2f2f2;
}

#vocabulary_list td {
    padding: .5em;
}

.right {
    position: absolute;
    right: 0.5em;
}

.icon {
    font-size: 1.5em !important;
    line-height: 1.25em !important;
    min-height: 2em !important;
    min-width: 2em !important;
}

.checked {
    background: #ff9 !important;
}

.cards {
    table-layout: fixed;
    width: 100%;
}

.nomargin {
    margin: 0px;
}

.flashcard {
    border: 1px solid black;
    padding: 0em 0.5em 0.25em 0.5em;
    height: 14.1em;
    overflow: hidden;
}

.flashcard_kanji {
    font-size: 4em;
    padding-left: 0.1em;
    padding-right: 0.2em;
}

.flashcard_kana {
    font-size: 0.8em;
}

.flashcard_vocabulary {
    font-size: 0.9em;
    padding-right: 0.4em;
    white-space: nowrap;
}

.flashcard_translation {
    font-size: 0.8em;
}

.flashcard_reading {
    width: 75%;
}

.flashcard_outer {
    width: 50%;
}

.top1 {
    padding-top: 0.4em;
}

@media screen and (max-width: 800px) {
    input[type=button] {
        line-height: 3em;
        padding-left: .5em;
        padding-right: .5em;
    }
}

@media print {
    div {
        break-inside: avoid;
    }

    .pagebreak {
        page-break-before: always;
    }
}
